/* #resume-main { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* } */

.container {
	margin: auto;
	width: 100%;
	max-width: 960px;
}

.row {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: space-between;
}

.row-nested {
	/* flex-wrap: nowrap; */
	/* justify-content: space-between; */
}

.resume-section {
	margin: 1em 0;
}

ul {
	/* list-style: none; */
	list-style-position: inside;
	padding: 0;
}

li:last-child {
	margin-bottom: 1em;
}

h3, h5, ul {
	margin: 0;
}

.row-label {
	flex: 1;
}

.row-content {
	flex: 3;
}

.row-header {
	/* flex: 1 1 50%; */
}

.row-oneline {
	/* flex: 1 1 100%; */
}

.pub-venue {
	font-style: italic;
}

@media all and ( min-width: 480px ) {
	.row {
		flex-direction: row;
	}
}
